# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.EngineSoultion.iml
# Datasource local storage ignored files
/../../../../../../:\Code\RevEngine\.idea\.idea.EngineSoultion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
